.el-dialog__wrapper {
  background: rgba(0, 0, 0, 0.6);
  /deep/ .el-dialog {
    /*@media screen and (max-width: 1440px) {
      margin-top: 30px !important;
    }*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80%;
    margin: auto !important;
    border: 1px solid #00a2ff;
    box-shadow: 0 0 32px rgba(52, 136, 201, 0.42) inset;
    background: rgba(5, 18, 43, 0.90);
    .el-dialog__header{
      height: 55px;
      padding:15px 40px 0;
      background: url('../../public/img/bg-dialog-title.png') 40px bottom/ 960px 2px no-repeat;
      .el-dialog__headerbtn {
        width: 25px;
        height: 25px;
        border: 1px solid #00a2ff;
        border-radius: 50%;
        .el-icon-close {
          color: #00a2ff;
        }
      }
    }
    .el-dialog__body{
      padding: 0 40px 30px;
    }
  }

}

.fd-query-content{
  position: relative;
  height: 100px;
  .fd-tab{
    position: absolute;
    top: 0;
    z-index: 10;
  }
  .fd-select-01, .fd-select-03{
    position: absolute;
    bottom: 0;
  }
  .fd-select-02{
    position: absolute;
    left: 120px;
    bottom: 0;
  }
  .fd-btn-export{
    position: absolute;
    right: 0;
    top: 18px;
  }

  .fd-btn-confirm{
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .el-date-editor{
    position: absolute;
    bottom: 0;
    width: 120px;
  }
  .fd-date-picker-start{
    right: 310px;
  }
  .fd-date-picker-end{
    right: 180px;
  }
  .fd-btn--text{
    position: absolute;
    right: 80px;
    bottom: 2px;
    color: #036bc2;
    font-size: 15px;
    height: 30px;
  }
  .fd-btn--text-active{
    position: absolute;
    right: 80px;
    bottom: 2px;
    color: #208fff;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
  }
}
/* 下钻图表公共样式 */
.fd-xz-content-chart{
  position: relative;
  width: 100%;
  h2{
    position: relative;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 7px #00b4ff;
  }
  .fd-title-01{
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .fd-chart-top,.fd-chart-bottom{
    height: 280px;
  }
  .fd-btn-export--chart{
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* 下钻表格公共样式 */

.fd-xz-content-table{
  position: relative;
  width: 100%;
  padding-top: 15px;
  text-align: center;
  h2{
    text-align: center;
    color: #fff;
    text-shadow: 0 0 7px #00b4ff;
  }
  .fd-title-01{
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

/*  */

.el-date-editor{
  width: 110px;
  background: rgba(0,0,0,0) !important;
  .el-input__inner{
    padding-right: 5px !important;
    background: rgba(0,0,0,0) !important;
    border: 1px solid #155683 !important;
    color: #036fa0 !important;
  }
  .el-input__inner::-webkit-input-placeholder{
    color: #036fa0 !important;
  }
  .el-icon-date{
    font-size: 16px !important;
  }
  .el-input__prefix{
    color: #036fa0 !important;
  }
}
